html{ 
    height: 100%; 
}

body{
    background:#fff; 
    height: 100%;
    color: #282828; 
    margin: 0;
    font-family: 'Lato', sans-serif; 
    font-weight: 900; 
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: normal;
    font-family: 'modenine';
    -webkit-font-smoothing: antialiased;
    letter-spacing: normal;
}

@font-face {
    font-family: 'modenine';
    src: url('modenine-webfont.woff2') format('woff2'),
        url('modenine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


img{ 
    display: block;
    margin: 0 auto;
}

a{
    color: #282828;
    text-decoration: none;
    text-align: center;
-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.album a:hover {
    opacity: 1;   
}


.albumcaption a:hover{
opacity: 0.6;
}

.social img:hover{
opacity: 0.6;
}

.snapcode img:hover{
opacity: 1;
}

.logo img{
    height: auto;
    padding: 40px;
    max-width: 900px;
}

.logo{
    margin: 0 auto;
}

.nav{
    margin: 0 auto;
    text-align: center;
    
}

.nav a{
    vertical-align: baseline;
    display: inline-block;
    padding: 0 20 0 20;
    font-weight: 900;
    font-size: 16px;
}

.nav a:hover {
    opacity: 0.6; 
}


.title{
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    font-size: 20px; 
    padding: 50 0 0 0;
}


.info p{
    vertical-align:middle;
    list-style: none;
    text-align:center;
    line-height: 30px;
    
}

.info {
    padding-top:10em;
}



/* - - - INDEX ALBUM - - - */

.album{
    display: block;
    margin: 0;
    padding: 40 0 40 0;
}

.album img{
    width: 550px;
}

.album art{
padding: 0 0 0 0;
}

.album a{
    display: block;
    margin: 0;
    padding: 0 0 0 0;
    font-size: 15px;
    
}

.albumcaption p{
    text-align:center;
    font-size: 15px;
    padding: -20 0 0 0;
}

/* - - - CONTACT - - - */

.contacttitle p{
    text-align:center;
    color:#fff;
    font-size:22px;
    padding-top:18px;
}

.contacttitle h4{
    text-align:center;
    color:#fff;
    font-size:12px;
}

.contacttitle h1{
    text-align:center;
    color:#fff;
    font-size:35px;
}


/* - - - SOCIAL MEDIA - - - */

.socials{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1em;
}

.social{
    display: inline-block;
    margin: 0 auto;
    padding: 30px;
}

.social img{
    height: auto;
    width: 25px;
}

#soundcloud img{
    height: 35px;
    width: auto;
}

.snapcode p{
font-size: 180%;
text-transform: lowercase;
}

/* - - - MUSIC - - - */

.albums{
    margin: 0 auto;
    text-align: center;
}

.album1{
    display: inline-block;
    margin: 0 auto;
    padding: 20 30 0 30;
}

.album1 img{
    height: 300px;
    width: 300px;
}

.album1 p{
    color: #fff;
    width: 280px;
    font-size: 11px;
}


/* - - - TOUR DATES - - - */

.tourtitle p{
    text-align:center;
    color:#fff;
    font-size:22px;
}

.tourdates ul{
    display: inline-block;
    text-align: left;
    padding-right: 20px;
    text-transform: uppercase;
    margin: 0 auto;
}

.tourdates li{
    padding-top: 10px;
    display: block;
}

table{
    margin: 0 auto;
    padding-top: 20px;
}

td, th{
    text-align:left;
    padding: 0 40 20 40;
}

td {
    font-weight: 900;
    color:#F8E71C;
}

td a{
    color:#F8E71C;
}

td a:hover{
    opacity: 0.6;
}

/* - - - VIDEOS - - - */

.youtube{
    display: block;
    text-align: -webkit-center;
    padding: 10 0 30 0;
}

iframe{
    align: right;
    width: 853; 
    height: 480; 
}

.videotitle p{
    text-align:center;
    color:#fff;
    font-size:22px;
}

/* - - - LIGHTBOX(SNAPCHAT) - - - */

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 80%;
width:450px;
	max-height: 70%;
	margin-top: 10%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;

}

.temptitle p{
    text-align:center;
    color:#fff;
    font-size:22px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}




