*{
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	box-sizing: border-box;
	outline: none !important;
}

html{ 
    height: 100%; 
}

body{ 
    background: #fff; 
    font-size: 60%; 
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

.container{ 
    margin: 0 auto; 
    max-width: 1000px; 
    width: 92%; 
}

a{ 
    color: rgb(36, 193, 252); 
    text-decoration: none; 
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.title{
    font-size: 5em;
    font-weight: bold;
}

.sentence{
    font-size: 2em;
}

.header{ 
    color: #222; 
    padding-top: 5em;
    text-align: center;
}

.text-block{ 
    margin: 0 auto; 
    max-width: 750px; 
}

.social{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 4em;
}

.social a{
	text-align: center;
	display: inline-block;
    padding: 1em;
}

.social a:hover{
    opacity: 0.4;
}

img{
	border: 0;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

ul.shots{ 
    list-style: none; 
    margin: 0; 
    padding: 0;
}

ul.shots li{
    display: block;
    float: left;
    padding: 1%;
    width: 33.33%;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

@media screen and (max-width: 800px){
    .title{ font-size: 4em; }
    .sentence{ font-size: 1.6em; }
    ul.shots li{ width: 50%; }
    .text-block{ margin: 0; max-width: 550px; }
    .header{ padding: 3.6em 0; }
}

@media screen and (max-width: 600px){
    .title{ font-size: 3em; }
    .social{ padding: -1em; }
}

.home-footer a {
  color: #222;

  display: block;
  min-width: 100%;
  margin-top: -15px;
  line-height: 3;
  text-align: center;
  font-size: 2em;
  font-weight: 150;
  
}
