@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	box-sizing: border-box;
	outline: none !important;
}

html{ 
    height: 100%; 
}

body{ 
    background: #fff; 
    font-size: 60%; 
    font-family: 'Raleway', sans-serif;
    height: 100%;
    color: #4A4A4A; 
    margin: 0px;
}

.container{ 
    margin: 0 auto; 
    max-width:; 
    width:; 
    padding: 10 0 10 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

p{
    color: #4A4A4A; 
}

a{ 
    
    color: rgb(36, 193, 252);
    text-decoration: none; 
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.socialbar{
    display: block; 
    float: center;
    z-index:99;
    margin-bottom:5em;
}


.title{
    font-size: 5em;
    font-weight: bold;
    color: white;
    font-family: "Montserrat", sans-serif;
}


.sentence{
    font-size: 2.3em;
}

.header{ 
    color: #222; 
    padding-top: 10px;
    text-align: center;
    background: #162634;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .subtitle{
    color: white;
    font-weight: bold;
    font-size:20px; 
    margin-top:-35px;
}

.header .sentence{
    margin-top:2em;
    color: white;
    font-weight: regular;
}

.subtitle{
    font-weight:bold;
    color: white;
    font-size: 3em;
}

.text-block{ 
    margin: 0 auto; 
    max-width: 750px;
    text-align: center;
    font-size:10px;
}



.tool{
    text-align: center;
    padding-top: 0em;
    padding-bottom: 1em;
}

.tool img{
    display: inline-flex;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 2em;
}

img{
	border: 0;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.dribbble{
 background: #D9E1E8;
}

ul.shots{ 
    list-style: none; 
    margin: 0 auto; 
    padding: 0 0 0 0;
    width:100%;
}

ul.shots li{
    display: inline;
    float: left;
    padding: .2%;
    width: 25%;
}

ul.shots p{
    text-align: center;
    font-size: 22px; 
    font-weight: bold;
}

.imgWrap{
  position: relative;
}

.imgDescription{
   position:absolute;
   margin: auto;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, .85);
   visibility: hidden;
   opacity: 0;
}

.imgDescription p{
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   margin-top: 34%;
}

.imgWrap:hover .imgDescription{
   visibility: visible;
   opacity: 1;
    
   -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.design{
    background: url(/images/backs/dsn.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 4 0 4 0;   
}

.prototype{
    background: url(/images/backs/pr.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 4 0 4 0; 
}

.code{
    background: url(/images/backs/cd.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 4 0 4 0;  
}

.social{
    text-align: center;
    padding-top: 0em;
    padding-bottom: 0em;
}

.social a{
	text-align: center;
	display: inline-block;
    padding: 1em;
}

.social a:hover{
    opacity: 0.4;
}


.footer{
    background:#F2F2F2; 
    
}

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

@media screen and (max-width: 800px){
    .title{ font-size: 4em; }
    .sentence{ font-size: 1.6em; }
    ul.shots li{ width: 50%; }
    .text-block{ margin: 0; max-width: 550px; }
    .header{ padding: 3.6em 0; }
}

@media screen and (max-width: 600px){
    .title{ font-size: 3em; }
    .social{ padding: -1em; }
}

.home-footer a {
  color: #303030;
  display:block;
  min-width: 100%;
  margin-top: -15px;
    margin-bottom: 0px;
  line-height: 3;
  text-align: center;
  font-size: 2em;
  font-weight: regular;
  font-family: "Montserrat", sans-serif;
}

.home-footer{
  -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
  
}

.home-footer:hover {
        opacity: 0.6;   
    }
