.socials{
    position:fixed;
    bottom:0;
    width:100%;
}

.nav{
    margin: 0 auto;
    text-align: center;
    bottom:0;
}

.nav a{
    vertical-align: baseline;
    display: inline-block;
    padding: 0 0 0 0;
    font-weight: 900;
    font-size: 16px;
}

.nav a:hover {
    opacity: 0.6; 
}
